body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;

  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;

  box-shadow: 0 0 15px 5px rgba(0,0,0, 0.20);

  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.menu-list a {
  font-weight: bold;
  line-height: 26px;

  color: #000;
}

.menu-list a.current {
  color: #766357;
}

.text-link:hover,
.text-link:focus {
  color: #81b3d2;
}

.text-link:active {
  color: rgba(0, 0, 0, .302);
}

.page-header {
  position: relative;
  z-index: 2;

  background-color: #fff;
}

.page-logo {
  position: absolute;
  z-index: 3;
  left: 50%;

  width: 138px;
  height: 70px;

  transform: translateX(-50%);
}

.main-menu {
  height: 56px;
  padding: 0 72px;

  color: #000;
}

.main-menu ul {
  display: flex;
  align-items: flex-start;

  margin: 0;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-list li {
  width: 203px;
  margin: 15px 0;
}

.menu-list li:nth-child(2) {
  margin-right: 62px;
}

.menu-list li:nth-child(3) {
  margin-left: 62px;
}

.menu-item-left {
  text-align: left;
}

.menu-item-right {
  text-align: right;
}

.main-poster {
  position: relative;
  z-index: 1;

  width: 1200px;
  height: 433px;
  margin-bottom: 63px;
  padding-top: 74px;

  text-align: center;

  background-color: #81b3d2;
  background-image: url(../img/intro.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

.main-poster::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 57px;

  content: '';

  background-image: url(../img/intro-after.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.intro {
  padding: 0 340px;

  text-align: center;

  background: #fff;
}

.intro h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  margin: 10px 0 25px;

  color: #000;
}

.intro h2 {
  font-size: 14px;
  line-height: 26px;

  margin: 0 0 51px;

  color: #333;
}

.town {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  min-height: 256px;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  min-height: 256px;

  text-align: center;

  color: #fff;
  background: #81b3d2;
}

.advantages-item h3 {
  font-size: 21px;
  font-weight: bold;

  margin: 0;
  padding: 48px 125px 25px;
}

.advantages-item p {
  margin: 0;
  padding: 0 0 21px;
}

.advantages-item p:last-child {
  padding: 0 60px;
}

.bridge-right p:last-child {
  padding: 0 40px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.service-item {
  width: 400px;
  min-height: 324px;
  margin: 0;
  padding: 0;

  text-align: center;

  background: #fff;
}

.service-item.house {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: center 54px;
}

.service-item.food {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: center 55px;
}

.service-item.souvenir {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: center 50px;
}

.service-item h4 {
  font-size: 21px;

  margin: 0;
  padding: 156px 0 23px;

  color: #000;
}

.service-item p {
  margin: 0;
  padding: 0 58px 0;
}

.bridge {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  height: 256px;
}

.more-advantages {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.more-advantages .advantages-item {
  color: #333;
  background: #eee;
}

.more-advantages h3 {
  color: #000;
}

.advantages-item-tourist p:nth-of-type(2) {
  padding: 0 75px;
}

.search-hotel {
  min-height: 291px;

  text-align: center;

  background: #fff;
}

.search-hotel h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;

  margin: 0;
  padding: 53px 0 25px;

  color: #000;
}

.search-hotel p {
  line-height: 24px;

  margin: 0;
  padding: 0 380px 44px;
}

.search-hotels-btn {
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  display: block;
  width: 568px;
  min-height: 26px;
  margin: 0;
  padding: 30px 0;

  text-transform: inherit;

  color: #cfcac7;
  border: none;
  background-color: #766357;
  box-shadow: 0 10px 20px 0 rgba(118, 99, 87, .25);
}

.brown-btn:hover,
.brown-btn:focus {
  color: #fff;
  background: #604e43;
}

.brown-btn:active {
  color: #928a85;
  background: #503e33;
}

.search-hotel-form {
  position: relative;
  z-index: 1;

  width: 568px;
  margin: 0 auto;
}

.modal-window-container {
  overflow: hidden;

  width: 568px;
  min-height: 395px;

  background: #fff;
}

.modal-window {
  font-family: inherit;
  font-weight: bold;
  line-height: 26px;

  position: absolute;
  left: 50%;

  display: none;

  padding: 55px;

  transition: .5s transform linear;
  transform: translateX(-50%);

  background-color: #fff;
}

.modal-show {
  display: block;

  animation: open .6s;
}

@keyframes open {
  0% {
    transform: translateX(-50%) translateY(-395px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.field-container {
  position: relative;

  display: flex;

  width: 458px;
  height: 38px;
  margin: 0 0 30px;
  padding: 0;

  justify-content: space-between;
  align-items: baseline;
}

.modal-window-field {
  font-family:inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;

  text-transform: inherit;
}

.date-field {
  width: 295px;
  height: 37px;
  margin: 0 38px 0 0;
  padding: 1px 0 0 13px;

  border: none;
  background: #f2f2f2;
}

.number-field {
  width: 38px;
  height: 38px;
  margin: 0 38px;
  padding: 0;

  text-align: center;

  border: none;
  background: #f2f2f2;
}

.modal-window-field:hover {
  outline: 0;
  background: #ebebeb;
}

.date-field:focus {
  outline: 0;

  height: 33px;

  background: #fff;
  border: 2px solid #e5e5e5;
  border-right: none;
}
.number-field:focus {
  outline: 0;

  height: 34px;

  background: #fff;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}

.modal-window-field:hover + .field-button {
  background: #ebebeb;
}

.date-field:focus + .field-button {
  background: #fff;
  border: 2px solid #e5e5e5;
  border-left: none;
}
.number-field-adults:focus ~ .adults-button-minus {
  background: #fff;
  border: 2px solid #e5e5e5;
  border-right: none;
}
.number-field-adults:focus ~ .adults-button-plus {
  background: #fff;
  border: 2px solid #e5e5e5;
  border-left: none;
}
.number-field-children:focus ~ .children-button-minus {
  background: #fff;
  border: 2px solid #e5e5e5;
  border-right: none;
}
.number-field-children:focus ~ .children-button-plus {
  background: #fff;
  border: 2px solid #e5e5e5;
  border-left: none;
}

.number-field-adults:hover ~ .adults-button-plus,
.number-field-children:hover ~ .children-button-plus {
  background: #ebebeb;
}

.number-field-adults:focus ~ .adults-button-plus,
.number-field-children:focus ~ .children-button-plus {
  background: #fff;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.field-button {
  position: absolute;

  display: flex;

  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;

  border: none;
  background: #f2f2f2;

  justify-content: center;
  align-items: center;
}

.date-button {
  top: 0;
  right: 0;
}

.adults-button-minus {
  top: 0;
  right: 308px;
}

.adults-button-plus {
  top: 0;
  right: 233px;
}

.children-button-minus {
  top: 0;
  right: 76px;
}

.children-button-plus {
  top: 0;
  right: 0;
}

.field-button path {
  fill: #cacaca;
}

.field-button:focus {
  outline: 0;
}

.field-button:hover path,
.field-button:focus path,
.field-button:hover rect,
.field-button:focus rect {
  fill: #000;
}

.field-button:active path,
.field-button:active rect {
  fill: #81b3d2;
}

.modal-window-button {
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  width: 458px;
  height: 58px;
  margin-top: 24px;

  text-transform: inherit;

  color: #fff;
  background: #81b3d2;
  border: none;
}

.field-container label:nth-of-type(2) {
  margin-left: 25px;
}

.number-field-adults {
  margin-left: 50px;
}

.blue-btn:hover,
.blue-btn:focus {
  background: #669ec0;
}

.blue-btn:active {
  color: #88b6d1;
  background: #5496bd;
}

.page-footer {
  position: relative;
  z-index: 2;

  display: flex;

  min-height: 120px;
  margin-top: -120px;

  background-color: rgba(252, 251, 251, .9);

  align-items: center;
  justify-content: space-between;

  padding: 0 101px 0 133px;
}

.visit {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.page-footer li {
  list-style: none;
}

.social-button {
  display: flex;

  width: 46px;
  height: 48px;

  background: #81b3d2;

  justify-content: center;
  align-items: center;
}

.social-button:hover,
.social-button:focus {
  background: #669ec0;
}

.social-button:active path {
  background: #5496bd;

  fill: #88b6d1;
}

.social-list {
  display: flex;

  width: 150px;
  margin: 0;
  padding: 0;

  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-copyright {
  width: 197px;
  margin-left: -30px;
}

.footer-copyright a {
  display: flex;

  text-decoration: none;

  color: #000;

  align-items: center;
  justify-content: space-between;
}

.footer-copyright-link:hover path,
.footer-copyright-link:focus path {
  fill: #81b3d2;
}

.footer-copyright-link:active path {
  fill: #bdbbbc;
}

.page-footer-inner {
  margin-top: 0;
}

.filter-container {
  display: flex;
  align-items: flex-start;

  min-height: 217px;
  padding: 0 72px;

  color: #fff;
  background-color: #4d7ba2;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: 0 -56px;

  justify-content: flex-start;
}

.filter-title {
  font-size: 16px;
  line-height: 21px;

  margin: 0;
  padding: 28px 0 23px;
}

.filter-checkbox ul {
  overflow: hidden;

  width: 255px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-checkbox li {
  position: relative;

  margin: 0 0 25px 37px;
  padding: 0;
}

.filter-checkbox-item input[type='checkbox']:checked + .checkbox-indicator::before {
  position: absolute;
  bottom: -1px;
  left: 14px;

  width: 5px;
  height: 22px;

  content: '';
  transform: rotate(45grad);

  border: .5px solid #4d799c;
  border-bottom: 0;
  border-radius: 2px;
  background: #fff;
}

.filter-checkbox-item input[type='checkbox']:checked + .checkbox-indicator::after {
  position: absolute;
  bottom: 0;
  left: 4px;

  width: 4.5px;
  height: 12.5px;

  content: '';
  transform: rotate(-50grad);

  border: 0 solid #4d799c;
  border-left: .5px solid #4d799c;
  border-radius: 2px;
  background: #fff;
}

.filter-checkbox-item input[type='checkbox'] + .checkbox-indicator {
  position: absolute;
  left: -37px;

  width: 18px;
  height: 18px;

  border: 3px solid #fff;
  border-radius: 4px;
}

.filter-checkbox-item input[type='checkbox']:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-checkbox-item input[type='checkbox']:disabled + .checkbox-indicator {
  border-color: #6a6a6a;
}

.filter-checkbox-item input[type='checkbox']:disabled + .checkbox-indicator::before,
.filter-checkbox-item input[type='checkbox']:disabled + .checkbox-indicator::after {
  background-color: #6a6a6a;
}

.filter-range {
  width: 317px;
  margin-left: 228px;
}

.filter-range .filter-title {
  margin-bottom: -13px;
}

.price-controls {
  font-size: 0;

  position: relative;

  height: 32px;
  margin-bottom: 20px;

  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  content: '';
  transform: translate(-50%, -50%);

  background: #fff;
}

.price-controls label {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;

  display: inline-block;
  vertical-align: middle;

  margin-top: 5px;

  cursor: pointer;
}

.price-controls label:last-child {
  margin-left: -10px;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  font: inherit;

  width: 50px;
  margin: 0;

  color: inherit;
  border: none;
  background: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;

  display: block;

  margin: 0 154px;
  padding: 6px 34px;

  cursor: pointer;
  transform: translateX(-50%);
  text-transform: inherit;

  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  background: transparent;
}

.btn-transparent:hover {
  color: #000;
  background: #fff;
}

.hotels-content {
  background: #fefefe;
}

.hotels-content ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sortable {
  font-size: 12px;
  line-height: 18px;

  display: flex;

  height: 86px;
  padding: 0 72px;

  border-bottom: 1px solid #e5e5e5;

  align-items: center;
}

.sortable-list {
  display: flex;
}

.sortable-item a {
  color: #c7c7c7;
  border-bottom: 1px dotted #81b3d2;
}

.sortable-item a:hover {
  color: #81b3d2;
}

.sortable-item a:focus {
  color: #81b3d2;
  border: none;
}

.sortable a:active {
  color: #000;
  border: none;
}

.sortable span {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  margin: 0 47px 0 0;
}

.sortable h3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  margin-right: 38px;
}

.sortable li {
  margin: 2px 32px 0 0;
  padding: 0;
}

.sort-btn-container {
  font-family: inherit;
  font-size: 0;

  margin-left: auto;

  display: flex;

  width: 35px;
  height: 13px;
  margin-top: 2px;

  justify-content: flex-end;
}

.sort-btn-container svg {
  padding-left: 15px;
}

.hotel {
  display: flex;

  width: 1056px;
  min-height: 92px;
  padding: 29px 72px;

  border-bottom: 1px solid #e5e5e5;

  justify-content: space-between;
}

.hotel-left {
  display: flex;

  flex-wrap: wrap;
}

.hotel-image {
  max-height: 90px;
  max-width: 135px;
  margin-right: 31px;
}

.hotel-image img {
  width: 100%;
  height: auto;
}

.hotel-content h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  max-width: 650px;
  margin: -4px 0 6px;
  padding: 0;
}

.hotel-content p {
  font: inherit;

  margin: 0 0 14px;
  padding: 0;
}

.hotel-type {
  display: flex;

  width: 181px;

  justify-content: space-between;
}

.hotel-content button {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;

  padding: 3px 17px;

  text-transform: inherit;

  color: #fff;
  border: none;
}

.btn-left {
  background: #81b3d2;
}

.btn-right {
  background: #766357;
}

.hotel-link {
  color: #000;
}

.hotel-right {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: flex-end;
}

.hotel-stars {
  width: 112px;
  height: 16px;
  margin-right: -3px;

  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
  background-position: center right;
}

.hotel-stars-one {
  width: 20%;
}

.hotel-stars-second {
  width: 40%;
}

.hotel-stars-three {
  width: 60%;
}

.hotel-stars-four {
  width: 80%;
}

.hotel-stars-five {
  width: 100%;
}

.hotel-rating {
  font-size: 14px;
  line-height: 21px;

  width: 83px;
  height: 21px;
  padding: 3px 15px 3px 16px;

  color: #666;
  background-color: #f2f2f2;
}

.link-sort-btn:hover path {
  fill: #000;
}

.link-sort-btn:active path,
.link-sort-btn:focus path {
  fill: #81b3d2;
}

a.current-link,
.current-link path {
  color: #81b3d2;
  border: none;

  fill: #81b3d2;
}

.map {
  position: relative;

  width: 100%;
  height: 593px;

  overflow: hidden;

  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center;
}

.map-iframe {
  border: none;
}
