body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;

  margin: 0;
  padding: 0;

  text-transform: uppercase;

  color: #333;
  background-color: #f2f2f2;
}

.main {
  min-height: calc(100vh - 176px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.20);

  background-color: $color-white;
}

.page-wrap {
  padding: 50px 72px;
  .page-wrap__title {
    text-transform: uppercase;
    text-align: left;
    margin-top: 0;
    margin-bottom: 50px;
    border-left: 3px solid $color-black;
    padding-left: 10px;
  }
  .page-wrap__content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.brown-btn:hover,
.brown-btn:focus {
  color: $color-white;
  background: #604e43;
}

.brown-btn:active {
  color: #928a85;
  background: #503e33;
}
